
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem !important;
    color: #F0F7EE;
}


/*colors */
a:hover{
  color:#87BBA2;
  text-decoration: none;
}

.bg_primary{
  background-color: #0E3840;
}
.bg_primary-dark{
  background-color: #0C333A;
}
.overlay{
  background-color: #0e384026;
}
.overlay-2{
  background-color: #0e384080;
}
.bg_secondary{
  background-color: #F0F7EE;
}
.text_primary{
  color: #F0F7EE;
}
.text_secondary {
  color: #87BBA2;
}
.text_third{
  color: #0E3840;
}
.text-red {
  color: #C76E4E;
}
.text-green {
  color: #87BBA2;
}
.bg-red {
  background-color: #C76E4E;
}

  .small_text{
  font-size:0.8125rem;
  }
  .main_text{
  font-size:1rem; 
  }
  .container-project{
  padding-right:5.8%;
  padding-left:5.8%;
  }
  .container-project-y{
  padding-top:7%;
  }
  .container-article-y{
  padding-top: 7.3%;
  }

.offcanvasExample{
  color: #F0F7EE;
  background-color: #0C333A;
}
.section-colors_primary{
  background-color: #F0F7EE;
  color: #0E3840;
}
.section-colors_forth{
  background-color: transparent;
  color: #F0F7EE;
  border:0 0 1 0;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid #87BBA2;

}

.section-colors_forth:hover{
  background-color: transparent;
  color: #F0F7EE;
  border:0 0 1 0;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid #87BBA2;
  

}
.section-colors_forth:focus{
    outline: none;
    box-shadow: none;

}
form-control:focus{
  outline: none;
  box-shadow: none;
}
.section-colors_secondary{
  background-color: #0E3840;
  color: #F0F7EE;
}
.section-colors_third{
  background-color: #87BBA2;
  color: #0E3840;
}
.side:hover{
  background-color: #87BBA2;
  color: #0C333A;
}
.side{
  background-color: #0C333A;
  color: #87BBA2
}
.section-colors_third_dark{
  background-color:#0C333A ;
  color: #F0F7EE;
}

.nav-link{
  color: #F0F7EE;

}
.nav-link:hover{
  color: #87BBA2;

}

.navbar-scrolled .nav-link{
  color: #0E3840 ;
}
.offcanvasExample .nav-link{
  color: #F0F7EE ;
}
.offcanvasExample .log{
  color: #F0F7EE ;
}
.navbar-scrolled .active{
  color: #87BBA2 !important;
}
.navbar-scrolled {
  background-color: #F0F7EE  !important;
  color: #0E3840 !important;
  transition: background-color 0.3s ease-in-out;
}
.btn-reset {
  color: initial;
}








.btn-check:checked + .btn-secondary {
background-color: #87BBA2;
border-color: #87BBA2;
color: #0E3840;
}

.btn-check:checked + .btn-secondary2 {
background-color: #F0F7EE;
border-color: #F0F7EE;
color: #0E3840;
}
.btn-check:checked + .btn-secondary3 {
  background-color: #F0F7EE;
  border-color: #F0F7EE;
  color: #0C333A;
}
.btn-secondary {
background-color: #F0F7EE;
border-color: #F0F7EE;
color: #0E3840;
}
.btn-secondary2 {
background-color: transparent;
border-color: #F0F7EE;
color: #0E3840;
}
.btn-secondary3 {
background-color: #F0F7EE;
border-color: #F0F7EE;
color: #0E384046;
}

.btn-secondary:hover {
  background-color: #F0F7EE;
  border-color: #F0F7EE;
  color: #0E3840;
}
.active_btn{
background-color: #0E3840;
border-color: #0E3840;
color: #F0F7EE;
}
.btn-third {
background-color: #87BBA2;
border-color: #87BBA2;
color: #0E3840;
}

.btn-third:hover {
  background-color: #0E3840;
  border-color: #0E3840;
  color: #F0F7EE;
  min-width: max-content;

}

 .active{
  color: #87BBA2 !important;
  position: relative;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

.filter_btn:hover{
  background-color: #0E3840;
  border-color: #0E3840;
  color: #F0F7EE;
}


.btn-contact:focus{
  outline: none;
  box-shadow: none;
}
.icon-size{
font-size: 50px;
}

[dir="rtl"] .main_img{
  padding: 0;
   position:absolute;
   top: 0;
   left: 0;
    height: 100%;
    direction: rtl;

    display: none !important;;
}




.swiper-title{
  color:#F0F7EE;
}
.swiper-title:hover{
  color:#87BBA2;
}






.section-colors_secondary:hover{
color:#0C333A
bacground-color:#87BBA2
}
.activecheckbox{
    color: #C76E4E;

}

.select-style1{
  font-size: 25px !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important; 
}
.select-style{
  font-size: 16px !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important; 
}


.scheck {
  width: 16px !important; 
  height:16px !important;
}

.domain-search {
  margin: 0;
  padding:206px 0;

}
.domain-search .input-group-addon {
  border: none;
}
.domain-search .input-group + p strong {
  margin-right: 40px;
}

.input-group .input-group-addon [type="submit"] .input-group .input-group-addon button {
  border: none;
  border-radius: 0;
}

.btn-primary {
  padding: 0 40px;
  line-height: 54px;
  background: #87BBA2;
  color: #0E3840;
}
.btn-primary:hover {
  padding: 0 40px;
  line-height: 54px;
  background: #87BBA2;
  color: #0E3840;
}


.form-inputs .form-control:focus{
  box-shadow:none;
  border:1px solid #000;
}
.form-inputs{
  position:relative;
  height: 58px;
}
.form-inputs i{
  position:absolute;
  right:30px;
  top:10px;
  font-size:25px;
}
.form-check{
  padding: 0;
  margin-bottom: 20px;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  background-color: #F0F7EE;
 
}

.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #F0F7EE;
  color: #0E3840;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px 40px 10px 10px;
  width: 100%;
}

.select-wrapper i {
  position: absolute;
  color: #0E3840;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/*hover effects  and stats*/
.hover-effect{
 opacity: 0;
 transition: opacity 2s;
}
.hover-effect:hover{
 opacity: 100;
 transition: opacity 2s;
}
.swper-img{
  transition: transform 2s;
}
.swiper-img:hover img {
  transform: scale(1.5);
  transition: transform 2s;
cursor: pointer;
}


.section_title{
  font-size: 90px;
  top:-130px; 
}
.section_padding{
  padding: 70px 60px;
}
.about_padding{
  padding: 150px 60px;
}


.main_img{
  padding: 0;
   position:absolute;
   top: 0;
   right: 0;
    height: 100%;
    direction: ltr;
}
/*little triangles  */
.triangle-topright {
  width: 0;
  height: 0;
  border-top: 10px solid #87BBA2;
  border-left: 10px solid transparent;
  padding-top: 2px;
}
.triangle-topright-red {
  width: 0;
  height: 0;
  border-top: 10px solid #C76E4E;
  border-left: 10px solid transparent;
  padding-top: 2px;
}
.triangle-top {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid #87BBA2;
}
/*pagination */

.pagination {
  background-color: transparent;
  border: none;
}

.page-link {
  color: #333;
  background-color: transparent;
  border: none;
}

.page-item.active .page-link {
  box-shadow: none;
  background-color: transparent;
  color:#87BBA2;
}


.article{
  height: 1px;
  margin: 4px 0;
  width:200px;
  background-color: #F0F7EE;
  opacity: 100;
}
.latest{
 position: relative;
  height:225px;
}
.article-size1{
  font-size:calc(1rem + 3.3vw);
}
.article-size2{

    font-size:calc(1rem + 1.05vw);

}
[dir="ltr"] .read{
  position: absolute !important;
  z-index: 5; 
  bottom:0; 
  right: 0;
  text-align: right;
  direction: ltr;
}

[dir="rtl"] .read{
  position: absolute !important;
  z-index: 5;
   bottom:0; 
   left: 0 !important;
  direction: rtl;
  text-align: left;
}
.brand-absolute{
   z-index: 5;
   bottom:0;
   width:128px;
   height:128px;
}
.numberbtn-size{
  width:42px;
  height:42px;
}

.width-input{
  max-width: 133px;
}
.page-item .page-link:hover{
  color: #87BBA2;
  background-color: #0C333A;
}



.normal_text{
  font-size:1rem;
  }

.whatsapp_colors{
  color:#FFFFFF;
background-color: #00D954;
}  
.whatsapp_colors:hover{
  color:#00D954;
background-color:#FFFFFF;
}  

.article-size3{
  font-size:calc( 4vw);
}

.article-size4{
  font-size: 1.65vw;
}
.article-size5{
  font-size: 1.7vw;
}
.article-size6{
  font-size:calc(1.8vw + 1rem);
}
.article-size7{
  font-size:calc(1vw + .7rem);
}
.article-size8{
  font-size:calc(1vw + 1rem);
}





.absolute_form{
  position: static;
  width: 100%;
}
.icon_size{
  width: calc(4vh + 2.2rem) ;
  height: calc(4vh + 2.2rem)  ;
  font-size:calc(2vh + 1.1rem) ;
}
.form_padding{
  padding:60px 30px ;
}
.send{
  font-size: 20px !important;
  font-weight: 700;
}

.btn-contact{
  background-color: transparent;
  border-color: #0E3840;
  color: #0E3840;
  font-size: 25px;
  }
@media screen and  (max-width: 651px)  {
  .btn-contact{
    background-color: transparent;
    border-color: #0E3840;
    color: #0E3840;
    font-size: 16px;
    }
  .section_title{
    font-size: 50px !important;
    top:-110px; 
  }
  .grid_property{
    display: grid;
     grid-template-columns: auto  ;
     gap:24px;
  }
  .btn-primary {
    padding: 0 20px;
    line-height: 54px;
    background: #87BBA2;
    color: #0E3840;
  }

  body {
    font-family: 'Montserrat' sans-serif;
    font-size: 1rem !important;
    color: #F0F7EE;
}
.brand-absolute{
  z-index: 5;
  bottom:0;
  width:90px;
  height:90px;
}
.select-style1{
  font-size: 16px !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

  .section_padding{
    padding: 70px 10px;
  }
  .about_padding{
    padding: 60px 60px;
  }
  .latest{
    position: relative;
    height:50px;
   }
   .article-size1{
    font-size:calc(1rem + 1vw);
  }
  .article-size2{
    font-size:calc(.80rem + 1vw);
  }

  .article{
    height: 1px;
    margin: 4px 0;
    width:150px;
    background-color: #F0F7EE;
    opacity: 100;
  }

  .land-icons{
    font-size:calc(.6rem + 1vw);
  }
}




@media screen and (min-width: 652px)  {
  .send{
    font-size: 29px !important;
    font-weight: 700;
  
  }
  .grid_property{
    display: grid;
     grid-template-columns: auto auto ;
     gap:24px;
  }
  .form_padding{
    padding:60px 80px 80px 68px;
  }

}



@media screen and  (min-width: 992px)  {

  .grid_property{
    display: grid;
     grid-template-columns: auto auto auto;
     gap:24px;
  }

  .absolute_form{
    position: absolute;
    width:63.5%;
  }




  
}

.offcanvasExample {


  width: 320px !important; 



}

@media screen and  (min-width: 1400px)  {
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem !important;
  color: #F0F7EE;
}
.normal_text{
  font-size:1.25rem;
  }
  .icon_size{
    width: calc(5vh + 4.2rem) ;
    height: calc(5vh + 4.2rem)  ;
    font-size:calc(2.5vh + 2.1rem) ;
  }
}




