nav(class="navbar navbar-expand-lg bg_primary sticky-top home_nav")
	div(class="container-fluid px-lg-5 d-lg-flex justify-content-between")
		a(class="navbar-brand flex-grow-1", href="#")
			img(class="d-inline-block align-text-top changesrc", src="../img/Group 11.png", alt="Logo", height="50")
		button(class="navbar-toggler text_third flex-grow-0 ", type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
			span(class="bi bi-list text_primary")
		div#navbarSupportedContent(class="collapse navbar-collapse d-lg-flex gap-lg-5 justify-content-end")
			ul(class="navbar-nav mb-2 mb-lg-0")
				li(class="nav-item")
					a(class="nav-link active", href="index.html") Home
				li(class="nav-item")
					a(class="nav-link", href="about.html") ABOUT US
				li(class="nav-item")
					a(class="nav-link", href="search.html") SEARCH
				li(class="nav-item")
					a(class="nav-link", href="articles.html") ARTICLES
				li(class="nav-item")
					a(class="nav-link", href="contact.html") CONTACT US
			div(class="d-lg-flex justify-content-between ")
				a(class="btn me-2 log text_primary normal_text", type="button")
					i(class="bi bi-person me-2")
					span LOG IN
				button(class="btn text-red normal_text", type="button") En/ع