doctype html
html(lang="en", dir="ltr")
    head
        include components/head.pug
    body(style="background-color: #F0F7EE;")
        include components/navbar.pug
        div#preloader(class="bg_primary w-100 h-100 position-fixed top-0  ", style="z-index:555555555555555555555555555")
            div(class="bg_primary w-100 h-100  d-flex align-items-center justify-content-center", style="z-index:555555555555555555555555555")
                img(class="logoPicNav w-20  mx-auto", src="../img/Group 128.png", alt="")

        section(class="section-colors_primary about_padding ")
            div(class="row")
                div(class="col-12 col-sm  py-4 ")
                    h1 We Are 
                        br
                        | Upshare Properties
                div(class="col-12 col-sm  ")
                    p Finding the perfect house is no easy feat. From navigating a seemingly endless list of choices to understanding the complexities of real estate laws and regulations, theres a lot to consider before you make a decision. Thats why it pays to have an experienced professional on your side. Real estate consultation and brokerage services are invaluable when it comes to making a smart decision about buying or selling property. These professionals offer invaluable insight into the market, helping you find the best deal and avoid costly mistakes.
        section(class="section-colors_secondary  section_padding")
            div(class=" container-lg")
                div(class="d-flex justify-content-end  text_secondary position-relative")
                    h1(class="position-absolute section_title") MISSION
                div(class="d-flex align-items-center ")
                    h1(class="me-3") 01
                    p We believe that everyone deserves access to quality real estate information and services. Thats why we offer consultations and resources. We want to make sure that everyone has the tools they need to make informed decisions about their property.
                div(class="d-flex align-items-center px-md-5 mt-4")
                    h1(class="me-3") 02
                    p We believe that everyone deserves access to quality real estate information and services. Thats why we offer consultations and resources. We want to make sure that everyone has the tools they need to make informed decisions about their property.
        section(class="section-colors_primary")
            div(class="d-flex justify-content-end w-100  h-25")
                img(src="../img/Group 515.png", alt="", width="50%", height="100%")
        section(class="section-colors_secondary  section_padding")
            div(class=" container-lg")
                div(class="d-flex   text_secondary position-relative")
                    h1(class="position-absolute section_title") VISION
                div(class="d-flex align-items-center ")
                    h1(class="me-3") 01
                    p We believe that everyone deserves access to quality real estate information and services. Thats why we offer consultations and resources. We want to make sure that everyone has the tools they need to make informed decisions about their property.
                div(class="d-flex align-items-center px-md-5 mt-4")
                    h1(class="me-3") 02
                    p We believe that everyone deserves access to quality real estate information and services. Thats why we offer consultations and resources. We want to make sure that everyone has the tools they need to make informed decisions about their property.
        section(class="section-colors_primary  ")
            div(class="container-lg")
                div(class="  d-flex container mt-5  ", style="padding: 50px 20px; position: relative;")
                    div(class="triangle-topright" style="position: absolute; top:38%;")
                    span(class="h3 ", style="padding: 0 20px;") Our Services
                div(class="px-md-5 mt-lg-5 mt-0 ")
                    div(class="d-flex align-items-center px-md-5 py-5 mt-md-5 justify-content-between")
                        div(class="mx-3")
                            img(src="../img/Path 867.png", alt="", width="", height="100")
                        p Acting as a mediator between buyers and sellers to negotiate sales contracts
                    div(class="d-flex align-items-center px-md-5 py-5 mt-md-5 justify-content-between")
                        p Acting as a mediator between buyers and sellers to negotiate sales contracts
                        div(class="mx-3")
                            img(src="../img/Group 611.png", alt="", width="", height="100")
                    div(class="d-flex align-items-center px-md-5 py-5 mt-md-5 justify-content-between")
                        div(class="mx-3")
                            img(src="../img/Group 612.png", alt="", width="", height="100")
                        p Acting as a mediator between buyers and sellers to negotiate sales contracts
                    div(class="d-flex align-items-center px-md-5 py-5 mt-md-5 justify-content-between")
                        p Acting as a mediator between buyers and sellers to negotiate sales contracts
                        div(class="mx-3")
                            img(src="../img/Group 614.png", alt="", width="", height="100")
                    div(class="d-flex align-items-center px-md-5 py-5 mt-md-5 justify-content-between ")
                        div(class="mx-3")
                            img(src="../img/Group 613.png", alt="", width="", height="100")
                        p Acting as a mediator between buyers and sellers to negotiate sales contracts
        section(class="section-colors_primary  ")
            div(class="  d-flex container-fluid ", style="padding: 50px 20px; position: relative;")
                div(class="triangle-topright" style="position: absolute; top:38%;")
                span(class="h3 ", style="padding: 0 20px;") TOP PROJECTS
            // Slider main container
            div(class="swiper swiper-photocards  ")
                // Additional required wrapper
                div(class="swiper-wrapper ", style="height:1007px; ", lazy="true")
                    // Slides
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
        section(class="section-colors_primary ")
            div(class="  d-flex justify-content-between align-items-center container-fluid ", style=" position: relative;")
                div(class="triangle-topright" style="position: absolute; top:38%;")
                span(class="h3 py-5", style="padding: 0 20px;") NEW PROJECTS
                div(class="d-lg-flex justify-content-end w-50 h-100  d-none " )
                    img(src="../img/Group 515.png", alt="", width="100%", height="225")
            // Slider main container
            div(class="swiper swiper-photocards  ")
                // Additional required wrapper
                div(class="swiper-wrapper ", style="height:1007px; ", lazy="true")
                    // Slides
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden")
                            a(class="overflow-hidden swiper-img  ", href="project.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src="../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                                div(class="position-absolute top-0  text_primary container pt-5 swiper-title")
                                    h2 PROJECT NAME
                                    p DEVELOPER
                                div(class="hover-effect position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center")
                                    div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative;")
                                        div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 2;")
                                            i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                        div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative overflow-hidden text-primary")
                            a(class="overflow-hidden swiper-img swiper-title ", href="property.html")
                                img(class="overflow-hidden", style="object-fit: cover;z-index: 10;overflow: hidden;", src=" ../img/Group 506.png", height="100%", width="100%", alt="", loading="lazy")
                               

                                div(class="w-100 h-100 overlay position-absolute top-0" style="z-index:5;") 
                                div(class=" position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center " style="z-index: 10;")
                                    div(class="position-absolute top-0   container pt-5 ")
                                        h2 PROJECT NAME
                                        p DEVELOPER
                                    div(class="h-100 w-100 hover-effect d-flex justify-content-center align-items-center")    
                                        div(class="  rounded-pill d-flex justify-content-center align-items-center ", style="width: 300px ; height: 300px; position: relative; z-index: 10;")
                                            div(class=" bg_primary rounded-pill d-flex justify-content-center align-items-center ", style="width: 150px ; height: 150px; z-index: 10;")
                                                i(class="fa-solid fa-magnifying-glass-plus text_primary", style="font-size: 50px;")
                                            div(class="position-absolute bg_primary rounded-pill  w-100 h-100 opacity-75")
        section(class="pb-5 mb-5 section-colors_primary ")
            div(class="  d-flex container-fluid mb-5", style="padding: 50px 20px; position: relative;")
                div(class="triangle-topright" style="position: absolute; top:38%;")
                span(class="h3 ", style="padding: 0 20px;") OUR DEVELOPERS
            // Slider main container
            div(class="swiper swiper-brands  ")
                // Additional required wrapper
                div(class="swiper-wrapper ", style="height:100px; ", lazy="true")
                    // Slides
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative")
                            img(style="object-fit: contain;", src="../img/Group 583.png", height="100%", width="100%", alt="", loading="lazy")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative")
                            img(style="object-fit: contain;", src="../img/Group 556.png", height="100%", width="100%", alt="", loading="lazy")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative")
                            img(style="object-fit: contain;", src="../img/Group 545.png", height="100%", width="100%", alt="", loading="lazy")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative")
                            img(style="object-fit: contain;", src="../img/Group 583.png", height="100%", width="100%", alt="", loading="lazy")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative")
                            img(style="object-fit: contain;", src="../img/Group 556.png", height="100%", width="100%", alt="", loading="lazy")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative")
                            img(style="object-fit: contain;", src="../img/Group 545.png", height="100%", width="100%", alt="", loading="lazy")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative")
                            img(style="object-fit: contain;", src="../img/Group 583.png", height="100%", width="100%", alt="", loading="lazy")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative")
                            img(style="object-fit: contain;", src="../img/Group 556.png", height="100%", width="100%", alt="", loading="lazy")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative")
                            img(style="object-fit: contain;", src="../img/Group 545.png", height="100%", width="100%", alt="", loading="lazy")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative")
                            img(style="object-fit: contain;", src="../img/Group 583.png", height="100%", width="100%", alt="", loading="lazy")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative")
                            img(style="object-fit: contain;", src="../img/Group 556.png", height="100%", width="100%", alt="", loading="lazy")
                    div(class="swiper-slide  ")
                        div(class=" h-100  position-relative")
                            img(style="object-fit: contain;", src="../img/Group 545.png", height="100%", width="100%", alt="", loading="lazy")
        include components/footer.pug
        include components/side_contact.pug
        script(src="../js/app.js")
			
