doctype html
html(lang="en", dir="ltr")
    head
        include components/head.pug
    body
        include components/navbar.pug
        section(class="page-section bg_secondary", style="padding: 50px 0")
            div(class="py-5 px-5")
                div(class="row")
                    div(class="col-lg-8 col-12")
                        div(class="row gx-4 gx-lg-5 justify-content-center py-3")
                            div(class="col px-lg-5")
                                h2(class="text_secondary") NEED EXPERT ADVICE ?
                        div(class="row gx-4 gx-lg-5 justify-content-center mb-1 px-lg-4")
                            div(class="col")
                                form#contactForm(action="")
                                    // Name input
                                    div(class="form-floating form-group floating-label-form-group controls mb-3 btn-contact position-relative")
                                        input#name(class="form-control rounded-0 btn-contact", type="text", placeholder="Enter your name...", required)
                                        label(for="name") Full name
                                        div(class="triangle-topright", style="position: absolute; top: 0; right: 0")
                                        div(class="invalid-feedback") A name is required.
                                    // Phone number input
                                    div(class="form-floating mb-3 btn-contact position-relative")
                                        input#phone(class="form-control rounded-0 btn-contact", type="tel", placeholder="(123) 456-7890", required)
                                        label(for="phone") Phone number
                                        div(class="triangle-topright", style="position: absolute; top: 0; right: 0")
                                        div(class="invalid-feedback")
                                            | A phone number is required.
                                    div(class="form-floating mb-3 btn-contact position-relative w-100")
                                        label(for="property", class="sr-only") property
                                        select(class="form-select form-select-xl btn-contact rounded-0 select-style", aria-label=".form-select-lg example")
                                            option(selected) PROPERTY TYPE
                                            option(value="1") One
                                            option(value="2") Two
                                            option(value="3") Three
                                        div(class="triangle-topright", style="position: absolute; top: 0; right: 0")
                                    div(class="form-floating mb-3 btn-contact position-relative")
                                        input#location(class="form-control rounded-0 btn-contact", type="text", placeholder="Enter your location...", required)
                                        label(for="location") PREFERRED LOCATION
                                        div(class="triangle-topright", style="position: absolute; top: 0; right: 0")
                                        div(class="invalid-feedback") A location is required.
                                    // Submit Button
                                    div(class="d-grid section-colors_third")
                                        button(class="btn  rounded-0", type="submit" style="padding:16px 12px;")
                                            | Send
                    div(class="col-lg-4 col-12 d-lg-flex justify-content-center align-items-end d-none ")
                        img(src="../img/Group 472.png", alt="", width="351", height="361", style="object-fit: contain")
        section(class="page-section section-colors_secondary", style="padding: 80px 0")
            div(class="py-5 px-5")
                div(class="mt-5 py-5")
                    div(class="row gx-4 gx-lg-5")
                        div(class="col-lg-8 col-xl-6 text-center mx-auto")
                            h4(class="text_primary") GET IN TOUCH WITH US
                    div(class="row pt-5")
                        div(class="col-lg-4 text-center mb-5 mb-lg-0")
                            img(src="../img/Group 2.png", alt="", width="35px", height="50px")
                            div(class="mt-4") PHONE
                            div(class="flex-column d-flex py-4 text_primary")
                                a(class="text_primary", href="tel:++1 (555) 123-4567")
                                    | +1 (555) 123-4567
                                a(class="text_primary", href="tel:+1 (555) 123-4567") +1 (555) 123-4567
                        div(class="col-lg-4 text-center mb-5 mb-lg-0")
                            img(src="../img/Group 130.png", alt="", width="35px", height="50px")
                            div(class="mt-4") LOCATION
                            div(class="flex-column d-flex py-4 text_primary")
                                a(class="text_primary", href="tel:++1 (555) 123-4567")
                                    | +1 (555) 123-4567
                                a(class="text_primary", href="tel:+1 (555) 123-4567") +1 (555) 123-4567
                        div(class="col-lg-4 text-center mb-5 mb-lg-0")
                            img(src="../img/Group 133.png", alt="", width="65px", height="50px")
                            div(class="mt-4") EMAIL
                            div(class="flex-column d-flex py-4 text_primary")
                                a(class="text_primary", href="tel:++1 (555) 123-4567")
                                    | +1 (555) 123-4567
                                a(class="text_primary", href="tel:+1 (555) 123-4567") +1 (555) 123-4567
                div(class="pt-5 mt-5")
                    div(class="row gx-4 gx-lg-5")
                        div(class="col-lg-8 col-xl-6 text-center mx-auto")
                            h4(class="text_primary") CONNECT WITH US
                    div(class="row container w-50 mx-auto pt-5")
                        div(class="col-lg-4 text-center mb-5 mb-lg-0")
                            i(class="bi bi-instagram mb-4 text_primary icon-size")
                        div(class="col-lg-4 text-center mb-5 mb-lg-0")
                            i(class="bi bi-facebook mb-4 text_primary icon-size")
                        div(class="col-lg-4 text-center mb-5 mb-lg-0")
                            i(class="bi bi-whatsapp mb-4 text_primary icon-size")
        include components/footer.pug
        include components/side_contact.pug
        script(src="../js/app.js")
