doctype html
html(lang="en", dir="ltr")
    head
        include components/head.pug
    body(class="bg_secondary text_third")
        include components/nav2.pug
        div#preloader(class="bg_primary w-100 h-100 position-fixed top-0  ", style="z-index:555555555555555555555555555")
            div(class="bg_primary w-100 h-100  d-flex align-items-center justify-content-center", style="z-index:555555555555555555555555555")
                img(class="logoPicNav w-20  mx-auto", src="../img/Group 128.png", alt="")

        section(class="container-fliud   pb-5 mb-0 mb-lg-5" style="padding-top:60px ")
            div(class="position-relative " style="aspect-ratio: 16/9;")
                img(src="../img/Group 275.png", alt="",width="100%", height="100%")
                div(class="position-absolute   p-sm-4 p-3 d-flex align-items-end brand-absolute"  )
                    img(src="../img/Group 277.png", alt="", style=" object-fit:contain" width="100%" height="100%" )

        section(class="py-5 px-3 px-lg-5   ")               
            div(class="row  ")               
                div(class="col-12 col-lg-8 ")
                    div(class="position-relative mb-5")
                        div(class="triangle-topright" style="position: absolute; top:10%;")
                        h1(class="m-0 mb-lg-2 article-size21 px-3" ) Project Name Goes Here. Developer
                    p(class=" text-wrap") Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
                div(class="col-12 col-lg-4 ")
                    div(class="shadow-lg text-center d-flex justify-content-center flex-column p-xl-4 p-1 "  )
                        p(class="mb-2") Starting Price
                        hr(class="w-25 mx-auto my-0")
                        div(class="d-flex justify-content-center gap-2 mt-2  h5")
                            p(class="text_secondary") 6,000,000
                            p(class="text_secondary") EGP
                        div(class="d-flex justify-content-center gap-2")
                            p Date
                            span March/20/2023 
                        p Property Name
                        div(class="row")
                            div(class="col-6   px-1" style="border-right:1px solid #87BBA2") 
                                p Property Name
                                span(class="h6 text_secondary") 10%


                            div(class="col-6") 
                                p Installments
                                span(class="h6 text_secondary") 8Y
        section(class="py-5 px-2 px-lg-5 ") 
            div(class="position-relative mb-5")
                div(class="triangle-topright" style="position: absolute; top:10%;")
                h1(class="m-0 mb-lg-2 article-size21 px-3" ) Project Name Goes Here. Facilities
            div(class="pt-5 overflow-auto")
                div(class="d-flex justify-content-center gap-0 gap-lg-5" style="  min-width: max-content;")
                    
                    div( style="height:80px ;width:85px")
                        div(class="h-100 w-100 position-relative")
                            img(style="object-fit: contain;", src="../img/Group 347.png", height="100%", width="100%", alt="", loading="lazy")
                    div( style="height:80px ;width:85px")
                        div(class="h-100 w-100")
                            img(style="object-fit: contain;", src="../img/Group 331.png", height="100%", width="100%", alt="", loading="lazy")
                    div( style="height:80px ;width:85px")
                        div(class="h-100 w-100")
                            img(style="object-fit: contain;", src="../img/Group 323.png", height="100%", width="100%", alt="", loading="lazy")
                    div( style="height:80px ;width:85px")
                        div(class="h-100 w-100")
                            img(style="object-fit: contain;", src="../img/Group 315.png", height="100%", width="100%", alt="", loading="lazy")
                    div( style="height:80px ;width:85px")
                        div(class="h-100 w-100")
                            img(style="object-fit: contain;", src="../img/Group 293.png", height="100%", width="100%", alt="", loading="lazy")
                    div( style="height:80px ;width:85px")
                        div(class="h-100 w-100")
                            img(style="object-fit: contain;", src="../img/Group 347.png", height="100%", width="100%", alt="", loading="lazy")
                    div( style="height:80px ;width:85px")
                        div(class="h-100 w-100")
                            img(style="object-fit: contain;", src="../img/Group 331.png", height="100%", width="100%", alt="", loading="lazy")
                    div( style="height:80px ;width:85px")
                        div(class="h-100 w-100")
                            img(style="object-fit: contain;", src="../img/Group 323.png", height="100%", width="100%", alt="", loading="lazy")
                    

                    
        section(class="py-5 px-2 px-lg-5") 
            div(class="position-relative mb-5")
                div(class="triangle-topright" style="position: absolute; top:10%;")
                h1(class="m-0 mb-lg-2 article-size21 px-3" ) Project Name Goes Here. Unit Types
            div(class="py-5 overflow-auto")
                div(class=" d-flex gap-3 px-2 " style="  min-width: max-content;")
                    button(class="btn btn-third rounded-0  px-4 pt-2") DUPLEX
                    button(class="btn rounded-0 active_btn px-4 pt-2") VILLA
                    button(class="btn btn-third rounded-0  px-4 pt-2") PENTHOUSE
                    button(class="btn btn-third rounded-0  px-4 pt-2") TWIN-HOUSE

            div(class=" px-2" style="width: 300px")
                div(class="d-flex  justify-content-between")
                    p(class="me-5") Area From
                    p(class="text_secondary") 240 m2
                hr(class="mt-0" style="width: 200px")
                div(class="d-flex justify-content-between ")
                    p(class="me-5") Starting Price
                    p(class="text_secondary") 6,000,000.EGP
        
        section(class="py-5  ") 
            div(class="position-relative mb-5 px-2 px-lg-5")
                div(class="triangle-topright" style="position: absolute; top:10%;")
                h1(class="m-0 mb-lg-2 article-size21 px-3" ) Project Name Goes Here. Location
            div(class="pt-5" )
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24321.693858779105!2d30.92436176778724!3d29.9747036099728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145856f78386e6a9%3A0x5024fd9866839e3d!2z2KzYp9mF2Lkg2KfZhNit2LXYsdmK!5e0!3m2!1sar!2seg!4v1685444838390!5m2!1sar!2seg", width="100%", height="500", style="border:0;", allowfullscreen="", loading="lazy", referrerpolicy="no-referrer-when-downgrade")


        section(class="px-2 px-lg-5 py-5") 
            div(class="position-relative mb-5 ")
                div(class="triangle-topright" style="position: absolute; top:10%;")
                h1(class="m-0 mb-lg-2 article-size21 px-3" ) Project Developer
            div(class=" px-lg-5 px-2 " )
                div(class="d-flex gap-3 flex-column flex-lg-row  ")
                    div(class="d-flex justify-content-center")
                        img(src="../img/Group 360.png", alt="", style=" object-fit:contain" width="277" height="277" )
                    div(class=" d-flex align-items-center")
                        span Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
              

        section(class="px-2 px-lg-5 py-5 ")
            div(class="position-relative mb-5 ")
                div(class="triangle-topright" style="position: absolute; top:10%;")
                h1(class="m-0 mb-lg-2 article-size21 px-3" ) Project Developer
            // Slider main container
            div(class="swiper swiper-property ")
                // Additional required wrapper
                div(class="swiper-wrapper py-5")
                    // Slides
                    div(class="swiper-slide shadow " )
                        div(style="padding-right:14px;padding-left:14px;", class=" py-3  shadow position-relative overflow-hidden ")
                            a(class="" href="property.html" style="  text-decoration: none;")
                                div(class="px-0 mb-2" )
                                    img(src="../img/Group 160.png", alt="" width="100%" height="100%" )
                                div(class="d-flex  px-0" style="gap:13px")
                                    div(class=" ")
                                        img(src="../img/Group 277.png", alt="" width="52" height="52")
                                    div(class=" text_third")
                                        p(class="normal_text m-0") Compound Name
                                        div(class="d-flex small_text")
                                            i(class="bi bi-geo-alt-fill me-2 text_secondary")
                                            p(class="small_text") Location
                                div(class="d-felx row justify-content-end px-0 ")
                                    div(class=" text-end col-6 text_third d-flex flex-column ")
                                        p(class="mb-0 small_text") Starting Price
                                        hr(class=" m-0")
                                        div(class="d-flex justify-content-end gap-1 h5")
                                            p(class="mb-0") 6,000,000
                                            p(class="m-0") EGP

                    div(class="swiper-slide shadow " )
                        div(style="padding-right:14px;padding-left:14px;", class=" py-3  shadow position-relative overflow-hidden ")
                            a(class="" href="property.html" style="  text-decoration: none;")
                                div(class="px-0 mb-2" )
                                    img(src="../img/Group 160.png", alt="" width="100%" height="100%" )
                                div(class="d-flex  px-0" style="gap:13px")
                                    div(class=" ")
                                        img(src="../img/Group 277.png", alt="" width="52" height="52")
                                    div(class=" text_third")
                                        p(class="normal_text m-0") Compound Name
                                        div(class="d-flex small_text")
                                            i(class="bi bi-geo-alt-fill me-2 text_secondary")
                                            p(class="small_text") Location
                                div(class="d-felx row justify-content-end px-0 ")
                                    div(class=" text-end col-6 text_third d-flex flex-column ")
                                        p(class="mb-0 small_text") Starting Price
                                        hr(class=" m-0")
                                        div(class="d-flex justify-content-end gap-1 h5")
                                            p(class="mb-0") 6,000,000
                                            p(class="m-0") EGP

                    div(class="swiper-slide shadow " )
                        div(style="padding-right:14px;padding-left:14px;", class=" py-3  shadow position-relative overflow-hidden ")
                            a(class="" href="property.html" style="  text-decoration: none;")
                                div(class="px-0 mb-2" )
                                    img(src="../img/Group 160.png", alt="" width="100%" height="100%" )
                                div(class="d-flex  px-0" style="gap:13px")
                                    div(class=" ")
                                        img(src="../img/Group 277.png", alt="" width="52" height="52")
                                    div(class=" text_third")
                                        p(class="normal_text m-0") Compound Name
                                        div(class="d-flex small_text")
                                            i(class="bi bi-geo-alt-fill me-2 text_secondary")
                                            p(class="small_text") Location
                                div(class="d-felx row justify-content-end px-0 ")
                                    div(class=" text-end col-6 text_third d-flex flex-column ")
                                        p(class="mb-0 small_text") Starting Price
                                        hr(class=" m-0")
                                        div(class="d-flex justify-content-end gap-1 h5")
                                            p(class="mb-0") 6,000,000
                                            p(class="m-0") EGP

                    div(class="swiper-slide shadow " )
                        div(style="padding-right:14px;padding-left:14px;", class=" py-3  shadow position-relative overflow-hidden ")
                            a(class="" href="property.html" style="  text-decoration: none;")
                                div(class="px-0 mb-2" )
                                    img(src="../img/Group 160.png", alt="" width="100%" height="100%" )
                                div(class="d-flex  px-0" style="gap:13px")
                                    div(class=" ")
                                        img(src="../img/Group 277.png", alt="" width="52" height="52")
                                    div(class=" text_third")
                                        p(class="normal_text m-0") Compound Name
                                        div(class="d-flex small_text")
                                            i(class="bi bi-geo-alt-fill me-2 text_secondary")
                                            p(class="small_text") Location
                                div(class="d-felx row justify-content-end px-0 ")
                                    div(class=" text-end col-6 text_third d-flex flex-column ")
                                        p(class="mb-0 small_text") Starting Price
                                        hr(class=" m-0")
                                        div(class="d-flex justify-content-end gap-1 h5")
                                            p(class="mb-0") 6,000,000
                                            p(class="m-0") EGP

                    div(class="swiper-slide shadow " )
                        div(style="padding-right:14px;padding-left:14px;", class=" py-3  shadow position-relative overflow-hidden ")
                            a(class="" href="property.html" style="  text-decoration: none;")
                                div(class="px-0 mb-2" )
                                    img(src="../img/Group 160.png", alt="" width="100%" height="100%" )
                                div(class="d-flex  px-0" style="gap:13px")
                                    div(class=" ")
                                        img(src="../img/Group 277.png", alt="" width="52" height="52")
                                    div(class=" text_third")
                                        p(class="normal_text m-0") Compound Name
                                        div(class="d-flex small_text")
                                            i(class="bi bi-geo-alt-fill me-2 text_secondary")
                                            p(class="small_text") Location
                                div(class="d-felx row justify-content-end px-0 ")
                                    div(class=" text-end col-6 text_third d-flex flex-column ")
                                        p(class="mb-0 small_text") Starting Price
                                        hr(class=" m-0")
                                        div(class="d-flex justify-content-end gap-1 h5")
                                            p(class="mb-0") 6,000,000
                                            p(class="m-0") EGP

                    div(class="swiper-slide shadow " )
                        div(style="padding-right:14px;padding-left:14px;", class=" py-3  shadow position-relative overflow-hidden ")
                            a(class="" href="property.html" style="  text-decoration: none;")
                                div(class="px-0 mb-2" )
                                    img(src="../img/Group 160.png", alt="" width="100%" height="100%" )
                                div(class="d-flex  px-0" style="gap:13px")
                                    div(class=" ")
                                        img(src="../img/Group 277.png", alt="" width="52" height="52")
                                    div(class=" text_third")
                                        p(class="normal_text m-0") Compound Name
                                        div(class="d-flex small_text")
                                            i(class="bi bi-geo-alt-fill me-2 text_secondary")
                                            p(class="small_text") Location
                                div(class="d-felx row justify-content-end px-0 ")
                                    div(class=" text-end col-6 text_third d-flex flex-column ")
                                        p(class="mb-0 small_text") Starting Price
                                        hr(class=" m-0")
                                        div(class="d-flex justify-content-end gap-1 h5")
                                            p(class="mb-0") 6,000,000
                                            p(class="m-0") EGP

                    div(class="swiper-slide shadow " )
                        div(style="padding-right:14px;padding-left:14px;", class=" py-3  shadow position-relative overflow-hidden ")
                            a(class="" href="property.html" style="  text-decoration: none;")
                                div(class="px-0 mb-2" )
                                    img(src="../img/Group 160.png", alt="" width="100%" height="100%" )
                                div(class="d-flex  px-0" style="gap:13px")
                                    div(class=" ")
                                        img(src="../img/Group 277.png", alt="" width="52" height="52")
                                    div(class=" text_third")
                                        p(class="normal_text m-0") Compound Name
                                        div(class="d-flex small_text")
                                            i(class="bi bi-geo-alt-fill me-2 text_secondary")
                                            p(class="small_text") Location
                                div(class="d-felx row justify-content-end px-0 ")
                                    div(class=" text-end col-6 text_third d-flex flex-column ")
                                        p(class="mb-0 small_text") Starting Price
                                        hr(class=" m-0")
                                        div(class="d-flex justify-content-end gap-1 h5")
                                            p(class="mb-0") 6,000,000
                                            p(class="m-0") EGP

        include components/footer.pug
        include components/side_contact.pug
        script(src="../js/app.js")