
<footer class="text-center text-lg-start  m-auto py-5 ">
  <hr class="my-2  w-50 mx-auto " style="height: 3px;"/>
  <!-- Grid container-->
  <div class=" p-4 m-auto" style="width: fit-content;">
    <!-- Grid row-->
    <div class="row my-3 g">
      <!-- Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <div class=" w-50 shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"><img src="../img/Group 140.png" height="100%" width="100%" alt="" loading="lazy"/></div>
      </div>
      <!-- Grid column-->
      <!-- Grid column-->
      <div class="col-lg-4 col-md-6 mb-10 mb-md-0">
        <h5 class="text-uppercase mb-4">Find a home</h5>
        <ul class="list-unstyled text_third">
          <li class="mb-2"><a class=" text-decoration-none" href="#!">Residential</a></li>
          <li class="mb-2"><a class=" text-decoration-none" href="#!">Residential Rent</a></li>
          <li class="mb-2"><a class=" text-decoration-none" href="#!">Coastal</a></li>
        </ul>
      </div>
      <!-- Grid column-->
      <!-- Grid column-->
      <div class="col-lg-4 col-md-6  mb-10 mb-md-0">
        <h5 class="text-uppercase mb-4 text-nowrap">Commercial Rent</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a class=" text-decoration-none" href="#!">Projects</a></li>
          <li class="mb-2"><a class=" text-decoration-none" href="#!">Retail</a></li>
          <li class="mb-2"><a class=" text-decoration-none" href="#!">Offices</a></li>
        </ul>
      </div>
      <!-- Grid column-->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Grid container-->
  <!-- Copyright-->
  <div class="text-center  p-3 fs-6">© 2023 — Upshare Properties All Rights Reserved. Developed by<a class="mx-2" href="">Disirius.</a></div>
  <!-- Copyright-->
</footer>