
<nav class="navbar navbar-expand-lg bg_primary sticky-top home_nav">
  <div class="container-fluid px-lg-5 d-lg-flex justify-content-between"><a class="navbar-brand flex-grow-1" href="#"><img class="d-inline-block align-text-top changesrc" src="../img/Group 11.png" alt="Logo" height="50"/></a>
    <button class="navbar-toggler text_third flex-grow-0 " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="bi bi-list text_primary"></span></button>
    <div class="collapse navbar-collapse d-lg-flex gap-lg-5 justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="about.html">ABOUT US</a></li>
        <li class="nav-item"><a class="nav-link" href="search.html">SEARCH</a></li>
        <li class="nav-item"><a class="nav-link" href="articles.html">ARTICLES</a></li>
        <li class="nav-item"><a class="nav-link" href="contact.html">CONTACT US</a></li>
      </ul>
      <div class="d-lg-flex justify-content-between ">
        <button class="btn me-2 log text_primary" type="button"><i class="bi bi-person me-2"></i><span>LOG IN</span></button>
        <button class="btn text-red" type="button">En/ع</button>
      </div>
    </div>
  </div>
</nav>