
<div class="position-fixed d-flex flex-column gap-2 p-3 pb-4 align-items-center" style="right:0;bottom:0;z-index:50"><a href="https://wa.me/+201012370014">
    <div class="rounded-pill  d-flex  justify-content-center align-items-center whatsapp_colors icon_size" style="box-shadow: 0px 0px 20px #23418f1a; "><i class="bi bi-whatsapp "></i></div></a><a href="tel:+201012370014">
    <div class="rounded-pill side d-flex  justify-content-center align-items-center icon_size" style="box-shadow: 0px 0px 20px #23418f1a; "><i class="bi bi-telephone-fill "></i></div></a>
  <div class="d-flex  justify-content-center align-items-center rounded-pill side d-none" id="scroll_top" style="box-shadow: 0px 0px 20px #23418f1a; width:30px; height:30px;"><i class="fa-solid fa-angle-up"></i></div>
</div>